## Deliverable 3. Create a Travel Itinerary Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [19]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Lat,Lng,Humidity,Max Temp,Cloudiness,Wind Speed,Description,Hotel Name
0,666,Hithadhoo,MV,-0.6000,73.0833,70,81.99,42,10.04,scattered clouds,Scoop Guest House
1,668,Kapaa,US,22.0752,-159.3190,66,88.12,20,5.99,few clouds,Sheraton Kauai Coconut Beach Resort
2,672,Kavieng,PG,-2.5744,150.7967,71,82.22,95,2.35,light rain,Nusa Island Retreat
3,675,Cockburn Town,TC,21.4612,-71.1419,70,85.96,40,14.97,scattered clouds,Osprey Beach Hotel
4,681,Albany,US,42.6001,-73.9662,93,75.81,96,12.97,moderate rain,NaN

In [20]:
vacation_df.notnull().sum()

City_ID        452
City           452
Country        452
Lat            452
Lng            452
Humidity       452
Max Temp       452
Cloudiness     452
Wind Speed     452
Description    452
Hotel Name     418
dtype: int64

In [21]:
clean_vacation_df = vacation_df.dropna()

In [22]:
clean_vacation_df.notnull().sum()

City_ID        418
City           418
Country        418
Lat            418
Lng            418
Humidity       418
Max Temp       418
Cloudiness     418
Wind Speed     418
Description    418
Hotel Name     418
dtype: int64

In [24]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Maximum Temp</dt><dd>{Max Temp}</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
clean_vacation_info = [info_box_template.format(**row) for index, row in clean_vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_vacation_df[["Lat", "Lng"]]

In [25]:
clean_vacation_df

,City_ID,City,Country,Lat,Lng,Humidity,Max Temp,Cloudiness,Wind Speed,Description,Hotel Name
0,666,Hithadhoo,MV,-0.6000,73.0833,70,81.99,42,10.04,scattered clouds,Scoop Guest House
1,668,Kapaa,US,22.0752,-159.3190,66,88.12,20,5.99,few clouds,Sheraton Kauai Coconut Beach Resort
2,672,Kavieng,PG,-2.5744,150.7967,71,82.22,95,2.35,light rain,Nusa Island Retreat
3,675,Cockburn Town,TC,21.4612,-71.1419,70,85.96,40,14.97,scattered clouds,Osprey Beach Hotel
5,688,Korla,CN,41.7597,86.1469,30,77.54,4,5.57,clear sky,Gulisitan Hotel
...,...,...,...,...,...,...,...,...,...,...,...
447,1978,Boa Vista,BR,2.8197,-60.6733,58,87.78,75,9.22,broken clouds,Aipana Plaza Hotel
448,1984,Trairi,BR,-3.2778,-39.2689,78,78.13,11,13.18,few clouds,janelas do mar
449,1987,Monroe,US,43.1501,-77.6831,72,84.58,75,6.91,broken clouds,"Staybridge Suites Rochester University, an IHG..."
450,1990,Fuzhou,CN,26.0614,119.3061,98,80.49,87,2.33,overcast clouds,Shangri La Hotel Fuzhou
451,1993,Sioux Lookout,CA,50.1001,-91.9170,43,75.58,75,10.36,broken clouds,Knobby's Fly-In Camps

In [27]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=clean_vacation_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_vacation_df.loc[clean_vacation_df["City"] == "Ingham"]
vacation_end = clean_vacation_df.loc[clean_vacation_df["City"] == "Ingham"]
vacation_stop1 = clean_vacation_df.loc[clean_vacation_df["City"] == "Shelburne"]
vacation_stop2 = clean_vacation_df.loc[clean_vacation_df["City"] == "Chapais"] 
vacation_stop3 = clean_vacation_df.loc[clean_vacation_df["City"] == "Jamestown"]

In [38]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = [vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[1]]
end = [vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[1]]
stop1 = [vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[1]]
stop2 = [vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[1]]
stop3 = [vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[1]]

In [45]:
start

[42.6, -84.3833]

In [46]:
vacation_start

,City_ID,City,Country,Lat,Lng,Humidity,Max Temp,Cloudiness,Wind Speed,Description,Hotel Name
150,1115,Ingham,US,42.6,-84.3833,90,87.98,12,5.61,few clouds,Sunset Place
376,1781,Ingham,US,42.6,-84.3833,90,87.98,12,5.61,few clouds,Sunset Place

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

In [47]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Lat,Lng,Humidity,Max Temp,Cloudiness,Wind Speed,Description,Hotel Name
0,1115,Ingham,US,42.6000,-84.3833,90,87.98,12,5.61,few clouds,Sunset Place
1,1781,Ingham,US,42.6000,-84.3833,90,87.98,12,5.61,few clouds,Sunset Place
2,1115,Ingham,US,42.6000,-84.3833,90,87.98,12,5.61,few clouds,Sunset Place
3,1781,Ingham,US,42.6000,-84.3833,90,87.98,12,5.61,few clouds,Sunset Place
4,1078,Shelburne,CA,44.0787,-80.2041,50,87.12,74,8.03,broken clouds,The Retreat at the Farm
5,1744,Shelburne,CA,44.0787,-80.2041,50,87.12,74,8.03,broken clouds,The Retreat at the Farm
6,959,Chapais,CA,49.7834,-74.8492,62,82.18,99,5.41,overcast clouds,Hôtel Opémiska
7,1625,Chapais,CA,49.7834,-74.8492,62,82.18,99,5.41,overcast clouds,Hôtel Opémiska
8,707,Jamestown,US,42.0970,-79.2353,61,81.72,1,4.61,clear sky,Hampton Inn & Suites Jamestown
9,1373,Jamestown,US,42.0970,-79.2353,61,81.72,1,4.61,clear sky,Hampton Inn & Suites Jamestown

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Maximum Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [57]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
directions = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3])
fig.add_layer(directions)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))